@import "./variables/media"
@import "./variables/color"

.information_grid
	width: 100%
	columns: 2
	column-gap: 0

	@media #{$desktop}
		columns: 3

.grid

	&__item
		width: 100%
		overflow: hidden

	&__image
		width: 100%
		transition: .5s
		filter: grayscale(.8)
		display: none
		cursor: pointer

		&:nth-child(1)
			display: block

		&:hover
			width: 105%
			filter: grayscale(0)

.close_project
	width: 100vw
	height: 100vh
	top: 0
	position: fixed
	background-color: rgba(0, 0, 0, .9)
	z-index: 30
	cursor: pointer

.project
	width: 90vw
	min-height: 70vh
	background-color: #fff
	position: absolute
	left: -120vw
	transform: translateX(-50%)
	z-index: 31
	transition: left 1s

	&_active
		left: 50%

	&__prev,
	&__next
		width: 50px
		height: 50px
		background-color: #a22
		position: absolute
		top: 50%
		transform: translateY(-50%)
		cursor: pointer

	&__prev
		left: 5px

	&__prev &__line
		transform: translateY(-50%) rotate(-45deg)

		&::before
			content: ''
			display: block
			height: 2px
			background-color: #222
			transform: rotate(90deg)
			transform-origin: left
			transition: .5s

	&__prev:hover &__line,
	&__prev:hover &__line::before
		background-color: $color_neon

	&__next
		right: 5px

	&__next &__line
		transform: translateY(-50%) rotate(45deg)

		&::after
			content: ''
			display: block
			height: 2px
			background-color: #222
			transform: rotate(-90deg)
			transform-origin: right
			transition: .5s

	&__next:hover &__line,
	&__next:hover &__line::after
		background-color: $color_neon

	&__line
		width: 80%
		height: 2px
		background-color: #222
		margin: auto
		margin-top: 25%
		transition: .5s

	&__content
		max-width: 90%
		margin: auto
