@import "media"

$color_neon: #00f7ff

.popup-order
	position: absolute
	width: 100%
	background-color: #fff
	border: 1px solid #000
	box-sizing: border-box
	z-index: 46

	@media #{$tablet-strict}
		width: 80%
		left: 10%

	@media #{$desktop-strict}
		width: 76%
		left: 12%

	@media #{$large}
		width: 900px
		left: 50%
		transform: translateX(-50%)

	&__header
		&_close
			margin-bottom: 25px

			&::after
				content: ''
				display: block
				clear: both

			&-contain
				height: 70px
				width: 70px
				float: right
				cursor: pointer

			&-line
				display: block
				width: 80%
				margin: 0 auto
				margin-top: 50%
				transform: translateY(-1px) rotate(45deg)
				height: 2px
				background-color: #222
				transition: .5s

				&::before
					content: ''
					display: block
					height: 2px
					background-color: #222
					transform: rotate(90deg)
					transition: .5s

			&-contain:hover &-line,
			&-contain:hover &-line::before
				background-color: $color_neon

		&_title
			text-align: center
			font-size: 18px
			line-height: 30px
			margin-bottom: 15px

			@media #{$tablet}
				text-align: left
				font-size: 24px
				width: 90%
				margin: 0 auto
				margin-bottom: 40px

			@media #{$large}
				font-size: 28px

	&__main
		width: 90%
		margin: 0 auto
		margin-bottom: 20px

	&__types-order
		width: 90%
		margin: 0 auto
		margin-bottom: 30px

		@media #{$tablet}
			column-count: 2

	&__type-order
		width: 90%
		height: 90%
		display: block
		margin: 0 auto
		transition: .5s

		&:hover
			width: 100%
			height: 100%

		&:hover &_image
			filter: grayscale(0)

		&:hover &_text
			width: 100%

		&_inp:checked + &
			width: 100%
			height: 100%

		&_inp:checked + & > &_image
			filter: grayscale(0)

		&_inp:checked + & > &_text
			width: 100%

		&_image
			width: 100%
			height: 100%
			filter: grayscale(1)

		&_text
			position: absolute
			z-index: 2
			text-align: center
			height: 30px
			width: 90%
			top: 50%
			color: #fff
			transform: translateY(-15px)
			font-size: 20px
			transition: .5s

		&-i
			width: 100%
			max-width: 450px
			margin: 0 auto
			height: 200px
			margin-bottom: 20px
			position: relative

	&__area
		margin-top: 30px
		float: left
		width: 100%
		margin-bottom: 20px

		@media #{$desktop}
			margin-top: 70px

		&_title
			width: 90%
			margin: 0 auto
			margin-bottom: 20px

			&-i
				font-size: 20px
				line-height: 30px
				text-align: center

			@media #{$desktop}
				width: 50%
				margin-left: 0
				float: left

				&-i
					text-align: left
					font-size: 30px

		&_input
			width: 60%
			margin: 0 auto
			margin-bottom: 40px

			&-i
				border: none
				border-bottom: 1px solid #000
				text-align: center
				outline: none
				width: 60%
				margin-left: 15%
				height: 30px
				font-size: 15px
				transition: .5s

				&:hover,
				&:focus
					border-bottom: 2px solid $color_neon

			@media #{$desktop-strict}
				width: 40%
				float: right

				&-i
					font-size: 20px

			@media #{$large}
				width: 300px
				float: right

				&-i
					font-size: 20px

			&-text
				margin-left: 5px
				font-size: 15px
				line-height: 30px

	&__author-support
		width: 100%
		clear: both
		margin-bottom: 50px

		&_text
			width: 90%
			margin: 0 auto
			margin-bottom: 30px

			&-title
				text-align: center
				margin-bottom: 20px
				font-size: 22px

			&-small
				font-size: 13px
				color: #A5A5A5
				margin-bottom: 20px

			@media #{$desktop}
				width: 60%
				float: left

				&-title
					text-align: left

		&_checked
			width: 60%
			margin: 0 auto

			&-i
				width: 45%
				display: inline-block
				margin-left: 5px

			@media #{$desktop}
				width: 30%
				float: right
				margin-left: 0

		&_check
			width: 70%
			max-width: 100px
			display: block
			margin: 0 auto
			text-align: center
			border-bottom: 1px solid #000
			line-height: 35px
			font-size: 20px
			transition: .5s

			&:hover
				border-bottom: 2px solid $color_neon

		&_input
			&:checked + label
				.order__author-support_check
					border-bottom: 2px solid $color_neon

	&__submit
		width: 90%
		margin: 0 auto
		float: left

		&_title
			width: 100%
			line-height: 40px
			text-align: center
			margin-bottom: 20px

		&_date
			width: 80%
			margin: 0 auto
			margin-bottom: 50px

			&-input
				width: 100%
				margin-bottom: 20px
				text-align: center
				height: 40px
				border: none
				border-bottom: 1px solid #000
				outline: none
				font-size: 20px
				transition: .5s

				&:hover
					border-bottom: 2px solid $color_neon

				&::-webkit-input-placeholder
					text-indent: 0
					transition: .8s
					font-size: 20px
					text-overflow: ellipsis
				&::-moz-placeholder
					text-indent: 0
					transition: .8s
					font-size: 20px
					text-overflow: ellipsis

				&:-moz-placeholder
					text-indent: 0
					transition: .8s
					font-size: 20px
					text-overflow: ellipsis

				&:-ms-input-placeholder
					text-indent: 0
					transition: .8s
					font-size: 20px
					text-overflow: ellipsis

				&:focus::-webkit-input-placeholder
					text-indent: 15%
					color: $color_neon

				&:focus::-moz-placeholder
					text-indent: 15%
					color: $color_neon

				&:focus:-moz-placeholder
					text-indent: 15%
					color: $color_neon

				&:focus:-ms-input-placeholder
					text-indent: 15%
					color: $color_neon

		&_button
			width: 90%
			margin: 0 auto
			margin-bottom: 50px

			&-i
				width: 70%
				max-width: 300px
				display: block
				margin: 0 auto
				height: 70px
				border: none
				background-color: rgba(48,48,48,0.5)
				transition: .5s
				font-size: 25px

				&:hover,
				&:focus,
				&:active
					background-color: $color_neon
					font-size: 20px
					color: #fff

	&_show
		animation: popup_order 2s forwards

.popup-order_close
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	background-color: rgba(0, 0, 0, .7)
	cursor: pointer
	z-index: 45

@keyframes popup_order
	0%
		display: none
		margin-left: -100vw
	1%
		display: block
		margin-left: -100vw
	100%
		display: block
		margin-left: 0
