@import "media"

$color_burger_act: #00F7FF

.grid
	width: 90%
	margin: 0 auto
	position: relative
	column-count: 2

	@media #{$desktop}
		column-count: 3
		width: 100%

	&__item
		width: 48%
		margin: 0
		padding: 0
		margin-top: -10px
		cursor: pointer
		overflow: hidden

		&-i
			width: 100%
			height: 100%
			position: relative

		&_img
			width: 100%
			height: auto
			margin: 0
			padding: 0
			perspective: 1000px
			transform: translateZ(-200px)
			transition: .7s
			filter: grayscale(.7)

			&:hover
				filter: grayscale(0)
				width: 106%
				margin-left: -3%

			&-block
				top: 0
				left: 0
				z-index: 20
				position: relative
				overflow: hidden

		@media #{$desktop}
			width: 32%

.project
	&__popup
		width: 100%
		min-height: 100vh
		position: fixed
		background-color: rgba(0, 0, 0, .8)
		display: none
		top: 0
		left: 0
		z-index: 70

		&_header
			width: 100%
			height: 12vh

		&_close
			width: 30vw
			height: 100%
			float: right
			margin-right: 30px
			margin-top: 20px
			cursor: pointer
			margin-bottom: 5vh
			max-width: 120px

			&-line
				width: 100%
				margin: 0 auto
				height: 4px
				margin: 35px 0
				transform: translateY(-2px)
				display: block
				background-color: #fff
				transform-origin: center left
				transition: .5s

				&::before,
				&::after
					content: ''
					display: block
					background-color: #fff
					height: 4px
					width: 12vw
					max-width: 50px
					transition: .5s

				&::before
					transform: rotate(45deg) translateY(1px)
					transform-origin: center left

				&::after
					transform: rotate(-45deg) translateY(-2px)
					transform-origin: center left

			&:hover &-line
				background-color: $color_burger_act
				transform-origin: center center
				height: 0

				&::before,
				&::after
					background-color: $color_burger_act
					transform-origin: center center
					margin-left: 25%
					width: 70px

				&::before
					transform: rotate(135deg) translateY(1px)

				&::after
					transform: rotate(-135deg) translateY(-2px)

		&_content
			width: 100%
			height: 70vh
			clear: both
			display: flex

		&_prev,
		&_next
			height: 100px
			width: 20%
			margin-top: 42vh
			transform: translateY(-50px)

			&-i
				cursor: pointer
				width: 70px
				height: 100%

			&-i:hover &-line
				background-color: $color_burger_act

				&::before
					background-color: $color_burger_act

			&-line
				display: block
				width: 15vw
				max-width: 60px
				height: 4px
				background-color: #fff
				margin-top: 20px
				transition: .5s

				&::before
					content: ''
					display: block
					background-color: #fff
					height: 4px
					transition: .5s
		&_prev

			&-i
				float: right
				margin-right: 15px

			&-line
				transform: rotate(-45deg)

				&::before
					transform: rotate(90deg)
					transform-origin: center left


		&_next

			&-i
				float: left
				margin-left: 15px

			&-line
				transform: rotate(45deg)

				&::before
					transform: rotate(-90deg)
					transform-origin: center right

		&_img
			width: 60%
			height: 70vh
			position: relative

			&-i
				max-width: 100%
				max-height: 100%
				display: block
				margin: 0 auto
				outline: none
				pointer-events: none
				user-select: none

				&:active,
				&:focus
					outline: none
					pointer-events: none
					user-select: none

		&_scroll
			width: 100%
			height: 20%
			background-color: rgba(0, 0, 0, .2)
			position: absolute
			top: 75%
			transition: .5s

			&:hover
				background-color: rgba(0, 0, 0, .5)

			&-i
				display: flex
				height: 100%
				width: 100%
				justify-content: center

			&__item
				height: 100%
				width: 150px
				margin-right: 5px
				margin-left: 5px

				&_img
					height: 100%
					max-width: 100%
					opacity: .5
					transition: .5s
					user-select: none
					cursor: pointer

					&:hover
						opacity: 1

					&:active,
					&:focus
						user-select: none

					&_active
						opacity: 1
						cursor: default

			&__prev,
			&__next
				display: block
				height: 100%
				width: 60px
				position: relative
				cursor: pointer

				&_line
					width: 80%
					height: 2px
					background-color: #fff
					margin-left: 10%
					top: 50%
					position: absolute
					transition: .5s

					&::before
						content: ''
						display: block
						height: 2px
						transition: .5s
						background-color: #fff

				&:hover &_line
					background-color: $color_burger_act

					&::before
						background-color: $color_burger_act

			&__prev
				&_line
					transform: translateY(-1px) rotate(-45deg)
					transform-origin: center left

					&::before
						transform: rotate(90deg)
						transform-origin: center left

			&__next
				&_line
					transform: translateY(-1px) rotate(45deg)
					transform-origin: center right

					&::before
						transform: rotate(-90deg)
						transform-origin: center right

._show
	animation: show_popup_project 1s ease forwards
	display: block

@keyframes show_popup_project
	0%
		display: none
		opacity: 0
	1%
		display: block
		opacity: 0
	100%
		display: block
		opacity: 1
